yfcc-10M:
    pgvector:
      docker-tag: neurips23-filter-pgvector
      module: neurips23.filter.pgvector.pgvector_index
      constructor: PgvectorIndex
      base-args: ["@metric"]
      run-groups:
        base:
          args: |
            [{}]
          query-args: |
            [{}]
